<header class="header" *ngIf="isVisible" data-aos="fade-down">
  <div class="header__logo">
    <a (click)="scrollToElement('home')">
      <img
        src="assets/images/logos/generator-logo.png"
        alt="Logo"
        class="logo"
      />
    </a>
  </div>
  <nav class="header__nav" [ngClass]="{ active: menuActive }">
    <a class="header__link" (click)="scrollToElement('about')">O mnie</a>
    <a class="header__link" (click)="scrollToElement('projects')">Inwestycje</a>
    <a class="header__link" (click)="scrollToElement('collaboration')"
      >Współpraca</a
    >
    <a class="header__link" (click)="scrollToElement('gallery')">Galeria</a>
    <a class="header__link" (click)="scrollToElement('contact')">Kontakt</a>
  </nav>

  <div class="menu-icon" (click)="toggleMenu()">
    <i class="fas fa-bars"></i>
  </div>
</header>
