<!-- <header class="header">
  <div class="header__logo">
    <a (click)="scrollToElement('homepage')">
      <img src="assets/logoGenerator.png" alt="Logo" class="logo" />
    </a>
  </div>
  <nav class="header__nav">
    <a (click)="scrollToElement('about')">O mnie</a>
    <a (click)="scrollToElement('projects')">Inwestycje</a>
    <a (click)="scrollToElement('collaboration')">Współpraca</a>
    <a (click)="scrollToElement('gallery')">Galeria</a>
    <a (click)="scrollToElement('contact')">contact</a>
  </nav>
</header> -->
