<div class="about-container">
  <h2 class="about-title">Kim jestem?</h2>
  <div class="about-content">
    <div class="headers"></div>
    <div class="paragraphs">
      <div class="about-paragraph">
        <div class="icon">
          <i class="fas fa-building" style="color: rgb(0, 43, 71)"></i>
          Historia
        </div>
        <p>
          Deweloper działający na rynku od <strong>2011 roku</strong>, który
          początkowo realizował zlecenia dla innych podmiotów. Od 2017 roku
          specjalizujemy się w realizacji
          <strong>własnych projektów deweloperskich</strong>. Współpracujemy z
          renomowanymi firmami podwykonawczymi, oferującymi wysokie
          <strong>kwalifikacje i&nbsp;doświadczenie</strong>.
        </p>
      </div>
      <div class="about-paragraph">
        <div class="icon">
          <i class="fas fa-shield-alt" style="color: rgb(71, 77, 0)"></i>
          Rzetelność
        </div>
        <p>
          Naszą firmę wyróżnia <strong>rzetelność</strong> – nie posiadamy
          żadnej negatywnej historii w&nbsp;BIK, KRD ani sporów sądowych,
          a&nbsp;nasze rękojmie i&nbsp;gwarancje są zawsze solidne. Zawsze
          stawiamy na materiały najwyższej jakości
          i&nbsp;<strong>innowacyjność</strong>, podążając za duchem czasu.
        </p>
      </div>
      <div class="about-paragraph">
        <div class="icon">
          <i class="fas fa-heart" style="color: rgb(80, 0, 0)"></i> Szacunek
        </div>
        <p>
          Każdy klient jest dla nas <strong>wyjątkowy</strong>, a&nbsp;jego
          potrzeby i&nbsp;oczekiwania dotyczące nieruchomości traktujemy
          priorytetowo. Nasze motto to
          <strong>zadowolony klient zawsze na pierwszym miejscu</strong>.
        </p>
      </div>
    </div>
  </div>
</div>
