.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  h3 {
    font-size: 3rem;
  }

  .paragraphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    width: 100%;
    text-align: left;

    .about-paragraph {
      width: 100%;
      font-size: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .icon {
        text-align: center;
        font-size: 4rem;
        font-weight: bold;
      }

      p {
        padding: 20px;
      }
    }

    .about-image {
      width: 100%;
      box-shadow: rgba($color: #000000, $alpha: 0.2) 0px 0px 15px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
