@import "../../styles.scss";

// Styl dla sekcji "O nas"
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  .paragraphs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    width: 100%;
    text-align: left;
    max-width: 95vw;

    .about-paragraph {
      width: 100%;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;

      .icon {
        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        padding: 10px;
      }
    }

    .about-image {
      width: 100%;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px;
      border-radius: 10px;
      overflow: hidden;

      img {
        width: 105%;
        height: auto;
        object-fit: cover;
        margin: -5px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .about-container {
    .paragraphs {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .about-paragraph {
      font-size: 1.3rem;
      .icon {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .about-container {
    padding: 10px;
    .paragraphs {
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    .about-paragraph {
      font-size: 1.2rem !important;
      padding: 10px;
      width: 100vw !important;

      .icon {
        font-size: 1.8rem !important;
      }
    }

    .about-image {
      order: 1;
    }
    .about-paragraph:nth-of-type(odd) {
      order: 3;
    }
    .about-paragraph:nth-of-type(even) {
      order: 4;
    }
  }
}

@media (max-width: 480px) {
  .about-container {
    .paragraphs {
      gap: 10px;
    }

    .about-paragraph {
      font-size: 1rem !important;
      padding: 8px;

      .icon {
        font-size: 1.5rem !important;
      }
    }
  }
}
