<h2>Nasze inwestycje</h2>
<div class="projects-grid">
  <ng-container *ngFor="let project of projects">
    <a
      *ngIf="project.link; else noLink"
      class="project-tile"
      [href]="project.link"
      target="_blank"
      rel="noopener noreferrer"
    >
      <div class="image-container">
        <img
          *ngIf="project.images.length > 0"
          [src]="project.images[0]"
          class="active"
          loading="lazy"
        />
      </div>

      <div class="overlay">
        <h3>{{ project.name }}</h3>
        <p>{{ project.description }}</p>
      </div>
    </a>

    <ng-template #noLink>
      <div class="project-tile disabled">
        <div class="image-container">
          <img
            *ngIf="project.images.length > 0"
            [src]="project.images[0]"
            class="active"
            loading="lazy"
          />
        </div>

        <div class="overlay">
          <h3>{{ project.name }}</h3>
          <p>{{ project.description }}</p>
        </div>
      </div>
    </ng-template>
  </ng-container>
</div>
