<h2>Nasze inwestycje</h2>
<div class="projects-grid">
  <a
    *ngFor="let project of projects"
    class="project-tile"
    [href]="project.link ? project.link : null"
    [attr.target]="project.link ? '_blank' : null"
    [attr.rel]="project.link ? 'noopener noreferrer' : null"
    [class.disabled]="!project.link"
  >
    <div class="image-container">
      <img
        *ngFor="let image of project.images; let i = index"
        [src]="image"
        [class.active]="i === 0"
        [attr.data-index]="i"
      />
    </div>
    <div class="overlay">
      <h3>{{ project.name }}</h3>
      <p>{{ project.description }}</p>
    </div>
  </a>
</div>
