h2 {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.project-tile {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s;

  &:hover {
    img {
      transform: scale(1.2);
    }
  }

  .image-container {
    position: relative;
    height: 500px;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: opacity 1.5s, transform 0.3s;

      &.active {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: radial-gradient(
        ellipse 100% 80% at center,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.4) 100%
      );
      pointer-events: none;
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: background 0.3s, justify-content 0.3s, align-items 0.3s;

    &:not(:hover) {
      justify-content: flex-end;
      align-items: flex-end;

      h3 {
        padding: 10px;
        filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
      }

      p {
        display: none;
      }
    }

    &:hover {
      background: rgba(0, 0, 0, 0.8);
      p {
        display: flex;
      }
    }
    h3 {
      margin: 0;
      font-size: 2rem;
      transition: all 0.3s;
    }

    p {
      margin: 1rem 3rem;
      font-size: 1.2rem;
      transition: opacity 0.3s;
    }
  }
}
