.gallery {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .image {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
  }

  .arrow {
    position: absolute;
    top: 50%;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
    font-size: 3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;

    &:focus {
      outline: none;
    }

    &.left {
      left: 20px;
    }

    &.right {
      right: 20px;
    }

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    height: 60vh;
  }

  .arrow {
    width: 60px !important;
    height: 60px !important;
    font-size: 1.5rem !important;
    padding: 10px !important;
  }

  .image {
    object-fit: contain;
  }
}

@media (max-width: 480px) {
  .gallery {
    height: 50vh;
  }

  .arrow {
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    padding: 8px;
  }
}
