<div class="home-header">
  <div class="logo" data-aos="fade-right">
    <a href="">
      <img src="assets/images/logos/generator-logo.png" alt="generator logo" />
    </a>
  </div>
  <nav class="nav-menu" data-aos="fade-down" data-aos-delay="300">
    <ul>
      <li><a class="first-a" (click)="scrollToElement('about')">O mnie</a></li>
      <div class="gap-solid"></div>
      <li><a (click)="scrollToElement('projects')">Inwestycje</a></li>
      <div class="gap-solid"></div>
      <li><a (click)="scrollToElement('collaboration')">Współpraca</a></li>
      <div class="gap-solid"></div>
      <li>
        <a class="last-a" (click)="scrollToElement('gallery')">Galeria</a>
      </li>
    </ul>
  </nav>
  <div data-aos="fade-left" data-aos-delay="600">
    <button class="cta-button" (click)="scrollToElement('contact')">
      Skontaktuj się
    </button>
  </div>
</div>

<div class="hero-section">
  <img
    class="background-hero"
    src="assets/images/niepolomice.jpg"
    alt="background"
  />
  <div class="hero-content">
    <img
      data-aos="zoom-in"
      data-aos-duration="2000"
      src="assets/images/logos/generator-logo.png"
      alt="generator logo"
    />
    <h1
      data-aos="fade-in"
      data-aos-delay="500"
      data-aos-duration="2000"
      src="assets/images/logos/generator-logo.png"
    >
      Zadowolony klient jest najważniejszy.<br />
      Zawsze na pierwszym miejscu.
    </h1>
  </div>
  <div
    class="main-content"
    data-aos="fade-left"
    data-aos-delay="900"
    data-aos-duration="2000"
  >
    <h2>Zobacz inwestycje</h2>
    <div class="image-container">
      <a href="#">
        <img src="assets/images/MietniowTitle.jpeg" alt="" />
        <div class="title-bar">MIETNIÓW</div>
      </a>
    </div>
    <div class="image-container">
      <a href="#">
        <img src="assets/images/LednicaGornaTitle.jpeg" alt="" />
        <div class="title-bar">LEDNICA GÓRNA</div>
      </a>
    </div>
  </div>
</div>
