@import "../../styles.scss";

// Styl dla nagłówka
.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100vw;
  z-index: 10;
  background: none;

  .logo {
    margin-top: 20px;
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    padding-left: 30px;
    font-weight: bold;
    color: $text-color-bright;

    a {
      img {
        transform: scale(1);
        transition: transform 0.3s;

        &:hover {
          transform: scale(1.1);
        }

        width: 5rem;
        height: auto;
      }
    }
  }

  .nav-menu {
    ul {
      display: flex;
      padding: 15px 0;
      border-radius: 50px;
      list-style: none;
      background-color: #ffffff81;
      box-shadow: rgba($color: #000000, $alpha: 0.2) 0 0 15px;

      .gap-solid {
        width: 2px;
        background-color: #ffffff50;
      }
      li {
        transition: transform 0.3s;
        transform: scale(1);

        .first-a {
          border-radius: 50px 0 0 50px;
        }
        .last-a {
          border-radius: 0 50px 50px 0;
        }
        a {
          font-family: "Outfit", sans-serif;
          text-decoration: none;
          text-shadow: rgba($color: #000000, $alpha: 0.3) 0px 0px 5px;
          color: $text-color-bright;
          font-size: 1.5rem;
          font-weight: 500;
          transition: color 0.75s, background-color 0.3s;
          border: none;
          padding: 15px 20px 15px 20px;

          &:hover {
            cursor: pointer;
            color: $primary-color;
            background-color: #fff;
            text-shadow: none;
          }
        }
      }
    }
  }

  .cta-button {
    font-family: "Outfit", sans-serif;
    background-color: $secondary-color;
    color: $text-color-bright;
    border: none;
    border-radius: 50px;
    padding: 15px 20px 15px 20px;
    margin-right: 30px;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
    transform: scale(1);
    box-shadow: rgba($color: #000000, $alpha: 0.2) 0 0 15px;

    span {
      font-weight: bold;
    }

    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      color: $primary-color;
      background-color: #fff;
    }
  }
}

// Styl dla sekcji hero
.hero-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .background-hero {
    filter: blur(2px) brightness(50%);
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0;
  }

  h1 {
    font-family: "Outfit", sans-serif;
    font-size: 3rem;
    line-height: 1.2;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .hero-content {
    text-align: center;
    color: $text-color-bright;
    padding: 20px;
    width: 60vw;

    img {
      width: 100%;
      max-width: 400px;
      margin-top: 20px;
    }
  }

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text-color-bright;
    padding: 20px;
    width: 25vw;

    h2 {
      font-family: "Outfit", sans-serif;
      font-size: 2.5rem;
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    }

    .image-container {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 10px;
      width: auto;
      transform: scale(1);
      transition: transform 0.3s;
      box-shadow: rgba($color: #000000, $alpha: 0.25) 0 0 10px;

      &:hover {
        transform: scale(1.05);
      }

      img {
        width: 100%;
      }

      .title-bar {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: rgba($color: #000, $alpha: 0.7);
        color: #fff;
        padding: 10px 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: bold;
      }
    }
  }
}
