<div class="home-header">
  <div class="logo">LOGO</div>
  <nav class="nav-menu">
    <ul>
      <li><a class="first-a" (click)="scrollToElement('about')">O mnie</a></li>
      <div class="gap-solid"></div>
      <li><a (click)="scrollToElement('projects')">Inwestycje</a></li>
      <div class="gap-solid"></div>
      <li><a (click)="scrollToElement('collaboration')">Współpraca</a></li>
      <div class="gap-solid"></div>
      <li>
        <a class="last-a" (click)="scrollToElement('gallery')">Galeria</a>
      </li>
    </ul>
  </nav>
  <button class="cta-button" (click)="scrollToElement('contact')">
    Skontaktuj się
  </button>
</div>

<div class="hero-section">
  <img
    class="background-hero"
    src="assets/images/niepolomice.jpg"
    alt="background"
  />
  <div class="hero-content">
    <h1>
      Zadowolony klient jest najważniejszy.<br />
      Zawsze na pierwszym miejscu.
    </h1>
  </div>
  <div class="main-content">
    <h2>Zobacz inwestycje</h2>
    <div class="image-container">
      <a href="#">
        <img src="assets/images/MietniowTitle.jpeg" alt="" />
        <div class="title-bar">MIETNIÓW</div>
      </a>
    </div>
    <div class="image-container">
      <a href="#">
        <img src="assets/images/LednicaGornaTitle.jpeg" alt="" />
        <div class="title-bar">LEDNICA GÓRNA</div>
      </a>
    </div>
  </div>
</div>
